.table {
  width: 100%;
  border-collapse: collapse;
}
body {
  margin: 0;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
thead tr {
  border: 3px solid black;
  /* outline: 3px solid black; */
}
tbody tr:nth-child(odd) {
  background-color: white;
}
tbody tr:nth-child(2n) {
  background-color: #e9ecef;
}
.header {
  text-align: center;
  color: gray;
  font-size: 28px;
}
img {
  width: 190px;
  height: 100px;
}
